/* header background & text color */
body{
  background-color: #121212;
  color: #eee;
}

/* header link color*/
body a{
  color: #809fff;
}

.rounded-corners {
  border-radius: 25px;
  border: 2px solid #809fff;
/*   background: #73AD21; */
  padding: 20px;
/*   width: 200px; */
/*   height: 150px; */
}
