/* header background & text color */
/* .wrapper{
  background-color: #121212;
  color: #eee;
} */

/* header link color*/
/* .wrapper a{
  color: #809fff;
} */

.rounded-corners {
  border-radius: 25px;
  border: 2px solid #809fff;
  background: #121212;
  padding: 20px;
/*   width: 200px; */
/*   height: 150px; */
}
