---
---

@import "{{ site.theme }}";

:root {
  // color reference: https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa
  blueDeep: #1B262C; // blue deep
  blueDark: #0F4C75; // blue dark
  blueMedium: #3282B8; // blue medium
  blueLight: #BBE1FA; // blue light
  white: #FFFEFE; // white
}

body{
  background-color: var(--blueDeep);
  color: var(--white);
}

// link color
a{
  color: var(--blueMedium);
}

// link hover
a:hover, a:focus {
  color: var(--blueLight);
  font-weight: bold;
}

// header color
h1, h2, h3, h4, h5, h6 {
  color: var(--blueMedium);
  margin:0 0 20px;
}

h2, h3 {
  background-color: rgba(255,254,254,0.5);
  padding: 10px;
}

strong{
  color: var(--white);
}

header{
  border-radius: 15px 0px 0px 15px;
//   border: 2px solid #FFFFFF;
  background: var(--blueDark);
  padding: 10px;
}

section{
  border-radius: 0px 15px 15px 0px;
//   border: 2px solid #809fff;
  background: var(--blueDark);
  padding: 10px;
}
