---
---

@import "{{ site.theme }}";

body{
  background-color: #1A202C;
  color: #FFFFFF;
}

// link color
a{
  color: #99E5B3;
}

// link hover
a:hover, a:focus {
  color:#FFFFFF;
  font-weight: bold;
}

// header color
h1, h2, h3, h4, h5, h6 {
  color:#99E5B3;
  margin:0 0 20px;
}

header{
  border-radius: 15px 0px 0px 15px;
//   border: 2px solid #FFFFFF;
  background: #2D3848;
  padding: 10px;
}

section{
  border-radius: 0px 15px 15px 0px;
//   border: 2px solid #809fff;
  background: #3A4556;
  padding: 10px;
}
